.sci-react-dialog {
    display: flex;

    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0px;
    left: 0px;

    // Most people will want the dialog to be hidden by default
    // visibility: hidden;
    // Also, without transitioning or animating the visibility property, your exit animation may not look correct
    // transition: visibility 250ms;

    &.visible {
        // And visible when it's supposed to be showing
        //visibility: visible;
    }

    > .overlay {
        flex: 1 1 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        overflow: auto;

        > .dialog {
            flex: 0 0 auto;
            max-width: 100%;
        }
    }
}